.border {
  margin: 0;
  border-style: solid;
  width: 100%;
  border-width: 2px;
}

.red-border {
  border-color: rgb(107, 7, 32);
}

.yellow-border {
  border-color: rgb(231, 193, 110);
}

main {
  background-color: rgb(107, 7, 32);
  width: 100vw;
  height: 1850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 3.5rem 0rem;
} 

.main-title-section {
  width: 300px;
  height: 120px;
  border-style: solid;
  border-color: rgb(231, 193, 110);
  border-radius: 8px;
  border-width: 1px;
  padding: 1rem 1rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 5rem;
}

.main-title-section h2,
.main-title-section h3 {
  margin: 0;
  text-align: center;
  font-family: Playfair Display, Serif;
  color: rgb(231, 193, 110);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.main-title-section h2 {
  font-size: 3.5rem;
}

.main-title-section h3 {
  font-size: 2.5rem;
}



.committee {
  margin-bottom: 200px;
  width: 100%;
  height: 250px;
  background-color: rgb(231, 193, 110); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.red-color {
  color: rgb(107, 7, 32);
}

.red-background-color {
  background-color: rgb(107, 7, 32);
}

.yellow-color {
  color: rgb(231, 193, 110);
  text-align: center;
}

.yellow-color h3{
  margin-top: 0;
}

.title-section {
  height: 60px;
  margin-bottom: 1rem;
}

.title-section h3 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.35);
}


.executive-image {
  width: 100%;
}

@media only screen and (min-width: 400px) {
  main, body {
    height: 2150px;
  }
}

@media only screen and (min-width: 560px) {
  main, body {
    height: 2400px;
  }
}


@media only screen and (min-width: 700px) {
  main, body {
    height: 2900px;
  }
  
  .title-section h3 {
    font-size: 2.125rem;
    margin-top: .5rem;
  }

  .committee {
    margin-bottom: 400px;
  }
}

@media only screen and (min-width: 850px) {
  main, body {
    height: 3500px;
  }
}

@media only screen and (min-width:1180px) {
  main, body {
    height: 4250px;
  }
  
  .title-section h3 {
    font-size: 3.525rem;
    margin-top: .5rem;
  }

  .committee {
    margin-bottom: 700px;
  }

  .border {
    margin: 1rem 0;
    border-width: 2px;
  }
  

  .image {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1300px) {
  main, body {
    height: 4550px;
  }
}

@media only screen and (min-width: 1460px) {
  main, body {
    height: 4800px;
  }
}


@media only screen and (min-width:1600px) {
  main, body {
    height: 5700px;
  }

  .title-section h3 {
    font-size: 4.525rem;
    margin-top: .5rem;
  }

  .committee {
    margin-bottom: 1000px;
  }

  .border {
    margin: 2rem 0;
    border-width: 2px;
  }
  

  .image {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1800px) {
  main, body {
    height: 6050px;
  }
}
